{% extends 'F1Website/base.html' %}
{% load static %}

{% block content %}

<div class="container">

    <!-- Top Span -->
    <div class="row">
        <div class="col-12 top-span">
            <h2 class="driver-name">{{driver_data.Driver.givenName}} {{driver_data.Driver.familyName}}</h2>
        </div>
    </div>

    <hr />

    <div class="row">
        <!-- Driver Photo -->
        <div class="col-6">
            <img class="driverimg" src="{% static 'images/' %}{{driver_data.Driver.familyName|add:'_Profile.jpeg'}}"
                alt="">
        </div>

        <div class="col-6">
            <div class="row">
                <!-- Helmet photo -->
                <div class="col-9 driver-helm">
                    <img src="{% static 'images/' %}{{driver_data.Driver.familyName|add:'_Helmet.png'}}" alt=""
                        height="250">
                </div>
                <div class="col-3 flag-box">
                    <img class="driver-flg" src="{% static 'images/' %}{{driver_data.Driver.nationality|add:'.jpeg'}}"
                        alt="">
                    <h4 class="driver-num">{{driver_data.Driver.permanentNumber}}</h4>
                    <!-- <img src="../../../static/images/33.png" height="70" /> -->
                </div>
                <div class="col-12">

                    <!-- INFO -->
                    <div class="info">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>
                                        <span class="text">Team</span>
                                    </th>
                                    <td>{{driver_data.Constructors.0.name}}</td>
                                </tr>
                                <tr>
                                    <th>
                                        <span class="text">Country</span>
                                    </th>
                                    <td>{{driver_data.Driver.nationality}}</td>
                                </tr>
                                <tr>
                                    <th>
                                        <span class="text">Wins</span>
                                    </th>
                                    <td>{{driver_data.wins}}</td>
                                </tr>
                                <tr>
                                    <th>
                                        <span class="text">Points</span>
                                    </th>
                                    <td>{{driver_data.points}}</td>
                                </tr>
                                <tr>
                                    <th>
                                        <span class="text">Date of Birth</span>
                                    </th>
                                    <td>{{driver_data.Driver.dateOfBirth}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <hr />

    {% include "./race_history.html" %}
    
    
    {% endblock %}



    <!-- Results
    <div class="row">
        <div class="col-12">
            <div class="results">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Season</th>
                            <th scope="col">Constructor</th>
                            <th scope="col">Round</th>
                            <th scope="col">Country</th>
                            <th scope="col">Date</th>
                            <th scope="col">Start</th>
                            <th scope="col">End</th>
                            <th scope="col">Points</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for race in result_data %}
                        <tr>
                            <th scope="row">{{race.season}}</th>
                            <td>{{race.Results.0.Constructor.name}}</td>
                            <td>{{race.round}}</td>
                            <td>{{race.Circuit.Location.country}}</td>
                            <td>{{race.date}}</td>
                            <td>{{race.Results.0.grid}}</td>
                            <td>{{race.Results.0.position}}</td>
                            <td>{{race.Results.0.points}}</td>
                            <td>{{race.Results.0.status}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div> -->