{% block content %}
<!-- <div class="row">
    <div class="col">
        <select onchange="season(this.value);">
            <option value="" selected disabled>Season</option>
            {% for year in season %}
            <option value="{{year.season}}">{{year.season}}</option>
            {% endfor %}
        </select>
        <select onchange="circuit_id(this.value);">
            <option value="" selected disabled>Circuit</option>
            {% for track in circuits %}
            <option value="{{track.0.circuit_id}}">{{track.0.circuit_name}}</option>
            {% endfor %}
        </select>
        <select onchange="team_id(this.value);">
            <option value="" selected disabled>Constructor</option>
            {% for team in teams %}
            <option value="{{team.0.team_id}}">{{team.0.team_name}}</option>
            {% endfor %}
        </select>
        <select onchange="status(this.value);">
            <option value="" selected disabled>Status</option>
            {% for status in statuses %}
            <option value="{{status.status}}">{{status.status}}</option>
            {% endfor %}
        </select>
    </div>
</div> -->

<div class="row">
    <div class="col-12">
        <div class="results">
            <table class="table", id="myTable">
                <thead>
                    <tr>
                        <th scope="col">
                            <select id="Season" onchange="season(this.value);">
                                <option value="" selected disabled>Season</option>
                                {% for year in season %}
                                <option value="{{year.season}}">{{year.season}}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th scope="col">Round</th>
                        <th scope="col">
                            <select id="Circuit" onchange="circuit_id(this.value);">
                                <option value="" selected disabled>Circuit</option>
                                {% for track in circuits %}
                                <option value="{{track.0.circuit_id}}">{{track.0.circuit_name}}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th scope="col">Date</th>
                        <th scope="col">
                            <select id="Constructor" onchange="team_id(this.value);">
                                <option value="" selected disabled>Constructor</option>
                                {% for team in teams %}
                                <option value="{{team.0.team_id}}">{{team.0.team_name}}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th scope="col">Position</th>
                        <th scope="col">Points</th>
                        <th scope="col">
                            <select id="Status" onchange="status(this.value);">
                                <option value="" selected disabled>Status</option>
                                {% for status in statuses %}
                                <option value="{{status.status}}">{{status.status}}</option>
                                {% endfor %}
                            </select>
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% load static %}
<script type="text/javascript" src="{% static 'race_history.js' %}"></script>

{% endblock content %}