{% extends 'F1Website/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h2 class="header-title" id="season-header"></h2>

    <!-- Filter by Year -->
    <select id="season_dropdown" onchange="season_dropdown(this.value);">
        <option>Year</option>
        {% for year in seasons %}
        <option value="{{year.season}}">{{year.season}}</option>
        {% endfor %}
    </select>

    <div class="row g-2" id="teams-page"></div>
    <!-- <div class="row g-2">
        {% for team in teams %}
        
        <a href="http://127.0.0.1:8000/team/{{team.team_id}}/">
            <div class="card" id="{{team.team_id}}">
                <div class="card-body row">
                    <div class="col-12 card-title">
                        <div class="card-position">
                            {{team.points}}
                            <span class="card-name">{{ team.team_name }}</span>
                            {% for driver in team.drivers %}
                            <span class="card-name">{{ driver.givenName}} {{driver.familyName}}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div> -->

    <div>
        <canvas id="seasonChart"></canvas>
    </div>
    
</div>
{% load static %}
<script type="text/javascript" src="{% static 'teams_page.js' %}"></script>
{% endblock %}