a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

.row1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.box {
    background-size: cover;
}

.row3 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.constructor {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.f1-uppercase {
    text-transform: uppercase;
}

.driverimg {
    width: 550px;
    height: 500px;
    object-fit: cover;
    border-style: solid;
    border-color: rgb(104, 104, 104);
    border-width: 4px;
    border-radius: 15px;
}

.results {
    overflow-y: auto;
    height: 750px;
}

.results::-webkit-scrollbar {
    width: 6px;
}

/* Track */

.results::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

/* Handle */

.results::-webkit-scrollbar-thumb {
    background: #888;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

/* Handle on hover */

.results::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.top-span {
    font-family: 'Bebas Neue', cursive;
    height: 50px;
}

.navbar-img {
    height: 50px;
}

.flag-box {
    text-align: right;
}

.driver-flg {
    height: 90px;
    border-style: solid;
    border-color: rgb(104, 104, 104);
    border-width: 4px;
    border-radius: 15px;
}

.driver-num {
    font-family: 'Bebas Neue', cursive;
    font-size: 55px;
    font-weight: bold;
    text-align: right;
    font-style: italic;
    padding-right: 10px;
    padding-top: 5px;
}

.driver-name {
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
}

.driver-helm {
    text-align: right;
}

.card-banner {
    position: relative;
    top: 0;
    left: 0;
    opacity: 0.2;
    filter: alpha(opacity=40);
}

.card-driver {
    position: absolute;
    top: 2px;
    left: 139px;
    height: 151px;
}

.card-title {
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
}

.card {
    border-style: solid;
    border-color: rgb(104, 104, 104);
    border-width: 2px;
    border-radius: 7px;
    width: 18rem;
    margin-left: auto;
    margin-right: auto;
    transition: transform .2s;
}

.card:hover {
    border-color: rgb(255, 25, 25);
    transform: scale(1.15);
    filter: contrast(115%);
    z-index: 99;
}

.card-text {
    font-size: 15px;
    font-weight: bold;
}